<nav class="navbar navbar-expand-lg bg-light">
    <span class="navbar-text mr-3 font-weight-bold small text-info" *ngIf="usuarioLogueado">{{userName}}</span>
    <a class="navbar-brand" href="#">Sistema</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toogle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" *ngIf="usuarioLogueado">
                <a class="nav-link" routerLink="/empleados" [routerLinkActive]="'active'">Empleados</a>
            </li>
            <li class="nav-item" *ngIf="usuarioLogueado">
                <a class="nav-link" *ngIf="userType==0" routerLink="/usuarios" [routerLinkActive]="'active'">Usuarios</a>
            </li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" *ngIf="!usuarioLogueado">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="cursor:ponter;" routerLink="/login" *ngIf="usuarioLogueado"
                    (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>